name: Go

#
# git hub actions config file. https://docs.github.com/en/actions
# See .actrc to run locally.  https://github.com/nektos/act
#

on: [ pull_request ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Set up Go 1.x
          uses: actions/setup-go@v5
          with:
            go-version: ^1.24.2
        - name: Check out code into the Go module directory
          uses: actions/checkout@v4

        - name: Build
          run: go build -v ./

        - name: Test
          run: go test ./test/...